# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/WebApplicationAvenueCode/nbproject/private/
/WebApplicationAvenueCode/build/
/WebApplicationAvenueCode/dist/
/AvCdWebApplication/nbproject/private/
/AvCdWebApplication/build/
/AvCdWebApplication/dist/
/WebApplicationAvCd/nbproject/private/
/WebAppAvenueCode/nbproject/private/
/WebAppAvenueCode/build/
/WebAppAvenueCode/dist/
/WebAppAvCd/target/
/WebAppAvCdTest/target/
/build/
