/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/10/2017, 20:42:51
    Author     : Beatriz Tavares
*/

.navbar-fixed-top .nav {
    padding: 0px;
    background-color: #0b94c1;
}

.navbar-fixed-top .navbar-brand {
    padding: 0px;
    background-color: #0b94c1;
}

@media(min-width:768px) {
    body {
        padding-top: 0px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 20px 0;
    }
}

  .navbar-fixed-top {
    background-color: #0b94c1;
    border-color: #0b94c1;
}

.div-content{
	margin-top: 80px;
}

.inner {
  margin: 0 auto;
}

.title{
    margin: 50px;
}

.panel-title{
    margin-bottom: 30px;
}

.panel-table {
    margin: 50px;
}

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 180px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}

.btn-primary{
	background-color: #0b94c1;
}